.button-search {
  border-radius: 12px;
  border: 2px solid none;
  padding: 16px 32px;
  background-color: #7b6ef6;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  cursor: pointer;
}
