.menu {
  display: flex;
  justify-content: space-between;
  background-color: #121829cc;
}

.menu-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.button-entrance {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  background-color: transparent;
  color: #a8aebf;
}

.button-color {
  font-weight: 600;
  font-size: 16px;
  color: #a8aebf;
  background-color: transparent;
  text-align: center;
  padding: 8px 16px;
  border: none;
  cursor: pointer;
}
